<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
 <link href="/css/style.css" rel="stylesheet">
<title>Insert title here</title>
<style>

</style>
<script>
const pwSearchCheck = async () => {
	if(userid.value == '') {
		alert('아이디를 입력하세요');
		userid.focus();
		return false;
	}
	if(telno.value == '') {
		alert('전화번호를 입력하세요');
		telno.focus();
		return false;
	}
	
	let formData = new FormData(pwSearchForm);
	
	await fetch("/member/searchPassword", {
		method: 'POST',
		body: formData
	}).then((response) => response.json())
		.then((data) => {
			if(data.message == 'GOOD' ) {
				let result = "<br><br><h1>임시패스워드: " + data.password + "</h1>";
				TemporalPassword.innerHTML = result;
			}else if(data.message == 'ID_NOT_FOUND') {
				alert("해당 아이디를 가진 사용가자 없습니다.");
			} else if(data.message == 'TELNO_NOT_FOUND') {
				alert("해당 전화번호를 가진 사용가자 없습니다.");
			}
		}).catch((error) => {
			console.log("error = " + error);
		})
}

	const press = () => {
		if(event.keyCode == 13) { IDSearchCheck(); }
	}
</script>
</head>
<body>
	<div class="main">
		<div>
			<img src="/images/logo.jpg" id="topBanner">	
		</div>
			<div class="ModifyForm">
				<form name="pwSearchForm" id="pwSearchForm" class="pwSearchForm" method="POST">		
					<h1>비밀번호 발급</h1>
					<div class="pwSearchFormDivision">
						<input type="text" id="userid" name="userid" class="input_field" placeholder="아이디를 입력하세요" >
						<input type="text" id="telno" name="telno" class="input_field" onkeydown="press(this.form)" placeholder="전화번호를 입력하세요" >
						 <input type="button" id="btn_pwSearch" class="btn_write" value="임시 패스워드 발급" onclick="pwSearchCheck()">
				        <input type="button" class="btn_cancel" value="홈으로" onclick="javascript:location.href='/'">
				    </div>
		    	</form>
		    	<div class="TemporalPassword" id="TemporalPassword"></div>
	        </div>
	</div>
</body>
</html>