<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
	<title>Insert title here</title>
    <link href="/css/style.css" rel="stylesheet">
    <script src="/js/getCookie.js"></script>
</head>
<body>
	<img src="/resources/images/logo.jpg" id="topBanner">
</body>

<script>
	const register = async () => {
		
		
		if(old_password.value == '') {
			alert('비밀번호를 입력하세요');
			old_password.focus();
			return false
		}
		
		const Pass = new_password.value;
		const Pass1 = new_password1.value;
		if(Pass == '') {
			alert('암호를 입력하세요');
			new_password.focus();
			return false; 
		}
		if(Pass1 == '') {
			alert('암호를 다시 한 번 입력하세요');
			new_password.focus();
			return false; 
		}
		if(Pass != Pass1) {
			alert('암호를 제대로 입력하세요');
			new_password1.focus();
			return false; 
		}
		
		//암호 유효성 검사
		let num = Pass.search(/[0-9]/g); // 0-9 자리의 숫자가 들어 있는지 검색, 검색해서 값이 없으면 -1을 리턴 / g는 global
		let eng = Pass.search(/[a-z]/ig); // i : 알파벳 대소문자 구분 없이 검색
		let spe = Pass.search(/[`~!@#$%^&*|\\\'\";:\/?]/ig); // 특수문자가 포합되어 있는지 검색
		if(Pass.length < 8 || Pass.length > 20) {
			alert("암호는 8자리 ~ 20자 이내로 입력해 주세요");
			return false;
		} else if (Pass.search(/\s/) != -1 ) {
			alert("암호는 공백 없이 입력해 주세요.");
			return false;
		} else if (num < 0 || eng < 0 || spe < 0) {
			alert("암호는 영문, 숫자, 특수문자를 혼합하여 입력해 주세요."); 
			return false;
		}
		
		let formData = new FormData();
		formData.append("old_password", old_password.value);
		formData.append("new_password", new_password.value);
		
		await fetch('/member/memberPasswordModify',{ 
			method: "POST",
			body: formData
		}).then((response) => response.json())
			.then((data) => {
				if(data.message === 'GOOD') {
					logout();
				} else if(data.message === 'PASSWORD_NOT_FOUND') {
					msg.innerHTML = '잘못된 패스워드를 입력했습니다.';
				}else {
					alert("시스템 장애로 패스워드 변경이 실패 했습니다.");
				}
			}).catch((error) => { 
				console.log("error = " + error);
			})	
	}
	
	const logout = () => {
		let authkey = getCookie('authkey');
		let userid = getCookie('userid');
		let password = getCookie('password');
		if(authkey != undefined)
			document.cookie = 'authkey=' + authkey + ";path=/;max-age=0";
		if(userid != undefined)
			document.cookie = 'userid=' + authkey + ";path=/;max-age=0";
		if(password != undefined)
			document.cookie = 'password=' + authkey + ";path=/;max-age=0";
			
		document.location.href = '/member/memberSessionOut'
	}
	
</script>

<div class="main">
	<div class="ModifyForm">
		<h1 class="title">패스워드 변경</h1>
		<form name="modifyForm" id="modifyForm" method="POST">
			<input type="password" id="old_password" name="old_password" 
				class="input_field" placeholder="기존 패스워드를 입력하세요" >
			<p id="msg" style="color:red; text-align:center;"></p>
			<input type="password" id="new_password" name="new_password" 
				class="input_field" placeholder="신규 패스워드를 입력하세요" >
			<p style="color:red; text-align:center;"> 8~28이내의 영문자, 숫자, 특수문자 조합으로 암호를 만들어 주세요.</p>
			<input type="password" id="new_password1" name="new_password1" 
				class="input_field" placeholder="신규 패스워드를 한번 더 입력하세요" >
			<input type="button" class="btn_write" value="패스워드 변경" onclick="register()">
			<input type="button" class="btn_cancle" value="취소" onclick="history.back()">
		</form>
	</div>
</div>
</html>